/Project/space_invaders/SpaceInvaders_solo/nbproject/private/
/Project/space_invaders/SpaceInvaders_solo/build/
/Misc/Dragon Tutorial/nbproject/private/
/Project/space_invaders/SpaceInvaders_solo/dist/
/Project/ShootEmUp/ShootEmUp/nbproject/private/
/Project/ShootEmUp/ShootEmUp/build/
/Project/ShootEmUp/ShootEmUp/dist/